Node modules
node_modules
# Keep environment variables out of version control
.env
.env.* #ignores .env.local, .env.dev, etc.

# Logs
logs/
*.logs

# Build outputs
dist/
build/

# Os-specific
.DS_store
Thumbs.db

# Prisma generated client
/src/generated/prisma/
